<section class="grid items-center justify-center">
  <h1 class="text-4xl font-bold text-indigo-950 my-3">Jobs Board</h1>
  {{#each jobs as |job|}}
    <div class="relative grid-cols-1 py-10">
      <div>

        <span class="absolute hidden">
          {{job.id}}
        </span>

        <h2 class="text-textBlack text-3xl py-1 underline">
          {{job.job_name}}
        </h2>
        <p class="text-textBlack text-xl py-1">
          {{job.job_description}}
        </p>
        <div class="grid grid-cols-4">
          <p class="text-textBlack text-xl py-1">
            {{job.job_suburb}}
          </p>
          <p></p>
          <p></p>
          <p
            class="text-center bg-bgDarkBlue w-20 rounded-xl text-white text-3xl hover:cursor-pointer transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 hover:bg-bgBlue duration-200"
          >${{job.job_price}}</p>
        </div>

        <div class="grid grid-cols-2">
          <p class="text-textBlack text-xl py-1">
            {{format_date job.job_date}}
          </p>
          <p class="text-textBlack text-xl py-1">
            {{format_time job.job_time}}
          </p>
        </div>
        <div class="grid grid-cols-2">
          <p class="text-textBlack text-xl py-1">
            {{job.job_duration}}
            hours
          </p>
          <p></p>
        </div>
        <h2 class="font-bold text-textBlack text-xl py-1">
          Posted By:
          {{job.user.first_name}}
        </h2>
        <h2 class="font-bold text-textBlack text-xl py-1">
          Contact:
          {{job.user.email}}
        </h2>
      </div>
    </div>
  {{/each}}
</section>